RewriteEngine On
RewriteCond %{HTTP_HOST} !^www.japans.rocks$ [NC]
RewriteRule ^(.*)$ http://www.japans.rocks/$1 [L,R=301]
RewriteCond %{HTTP_HOST} ^185\.27\.134\.171
RewriteRule (.*) http://www.japans.rocks/$1 [R=301,L]